<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<!-- Types MIME Blazor WASM -->
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />

			<!-- Types personnalisés (vos fichiers .moc) -->
			<mimeMap fileExtension=".moc" mimeType="application/x-msdownload" />
			<mimeMap fileExtension=".moc3" mimeType="application/x-msdownload" />
			<mimeMap fileExtension=".mtn" mimeType="application/x-msdownload" />
		</staticContent>

		<!-- Fallback SPA Blazor -->
		<rewrite>
			<rules>
				<rule name="SPA" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
